/*--------------------reset css--------------------*/
html, body, div, span, object, iframe, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; vertical-align:baseline; background:transparent;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}
a { margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	text-decoration:none;}
a:hover{text-decoration:none;}
ul, li{list-style:none;}
table {
  
  width: 100%;
}

th, td {
  padding: 4px;
  text-align: left;
  
}

body{font-family: Verdana, sans-serif; text-align: left;  background:#fcfcfc/*url(../images/bg.jpg)no-repeat center*/; background-size:cover;}
/*--------------------header--------------------*/

.wrapper{position:fixed; width:100%; top:0; z-index:9999;}
.aboutsection{}
.flag-strip{background: url(../img/flag-strip.jpg) center top no-repeat; height: 10px; width: 100%; background-size: 100% 10px;}
header h1{background:url(../img/emblem.png) no-repeat; font-size: 16px; min-height: 70px; padding:5px 0 0 56px; color:#666;  letter-spacing:1px; margin:0;}
header span{font-size:36px; color:#1780c4; letter-spacing:0;}
header h2{text-align:center; color:#1780c4; font-size:24px;}
header h2>span{font-size:18px;}
.search{display:flex; align-items:center;}
.tablebackground:#fcfcfc; border:1px solid #ddd; text-align:center; vertical-align:middle;}
.table thead{background-color:#1780c4 !important; color:#fff;width:100%; top:10;}

.navbar{background:#0842af; padding: 0; border:0; border-radius:0; margin-bottom:0;}
.menu .navbar-nav .nav-link{color:#fff; font-size: 14px; padding: 10px 20px;}
.menu .navbar-nav .nav-link:focus, .menu .navbar-nav .nav-link:hover{background:#f7f7f7; color:#1780c4;}
.menu .navbar-nav>.active>a, .menu .navbar-nav>.active>a:focus, .menu .navbar-nav>.active>a:hover{background:#f7f7f7; color:#1780c4;}
.dropdown:hover > .dropdown-menu {display: block !important;} /* convert the main menu from click to hover the sub-menu*/
.dropdown-menu{background-color: #f7f7f7; border-radius:0; border:0; box-shadow:none; padding:0; margin:0; }
.dropdown-menu>li>a{padding:8px 20px; color:#1780c4; font-size:14px;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color: #1780c4; color:#fff;}

.btn-primary{color: #fff; background-color: #1780c4;}
.btn-primary:hover { color: #fff; background-color: #1180c4; border-color: #1780c4;}
.btn-outline-primary{color: #1780c4; border-color: #1780c4;}
.btn-outline-primary:hover { color: #fff; background-color: #1780c4; border-color: #1780c4;}
.airport_name{font-size:24px; color:#fff; min-width: 35%; text-align: right;  margin-right: 10px;}
/*--------------------footer--------------------*/
footer{font-size: 13px; letter-spacing:.5px;} 
.footer{position:fixed; bottom:0; width:100%;}
body
{
    counter-reset: Serial Serial1 Serial2 Serial3 Serial4 Serial5 Serial6 Serial7 Serial8 Serial9 Serial10 Serial11 Serial12 Serial13 Serial14 Serial15 Serial16 Serial17 Serial18 Serial19 Serial20 Serial21 Serial22 Serial23 Serial24 Serial25 Serial26 Serial27 Serial28 Serial29 Serial30;  
	/* Set the Serial counter to 0 */
}
#auto-index td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
}

#auto-index1 td:first-child:before
{
  counter-increment: Serial1;      /* Increment the Serial counter */
  content: counter(Serial1); /* Display the counter */
}
#auto-index2 td:first-child:before
{
  counter-increment: Serial2;      /* Increment the Serial counter */
  content: counter(Serial2); /* Display the counter */
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: #0c6905;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}


#auto-index3 td:first-child:before
{
  counter-increment: Serial3;      /* Increment the Serial counter */
  content: counter(Serial3); /* Display the counter */
}
#auto-index4 td:first-child:before
{
  counter-increment: Serial4;      /* Increment the Serial counter */
  content: counter(Serial4); /* Display the counter */
}
#auto-index5 td:first-child:before
{
  counter-increment: Serial5;      /* Increment the Serial counter */
  content: counter(Serial5); /* Display the counter */
}
#auto-index6 td:first-child:before
{
  counter-increment: Serial6;      /* Increment the Serial counter */
  content: counter(Serial6); /* Display the counter */
}
#auto-index7 td:first-child:before
{
  counter-increment: Serial7;      /* Increment the Serial counter */
  content: counter(Serial7); /* Display the counter */
}
#auto-index8 td:first-child:before
{
  counter-increment: Serial8;      /* Increment the Serial counter */
  content: counter(Serial8); /* Display the counter */
}
#auto-index9 td:first-child:before
{
  counter-increment: Serial9;      /* Increment the Serial counter */
  content: counter(Serial9); /* Display the counter */
}
#auto-index10 td:first-child:before
{
  counter-increment: Serial10;      /* Increment the Serial counter */
  content: counter(Serial10); /* Display the counter */
}
#auto-index11 td:first-child:before
{
  counter-increment: Serial11;      /* Increment the Serial counter */
  content: counter(Serial11); /* Display the counter */
}
#auto-index12 td:first-child:before
{
  counter-increment: Serial12;      /* Increment the Serial counter */
  content: counter(Serial12); /* Display the counter */
}
#auto-index13 td:first-child:before
{
  counter-increment: Serial13;      /* Increment the Serial counter */
  content: counter(Serial13); /* Display the counter */
}
#auto-index14 td:first-child:before
{
  counter-increment: Serial14;      /* Increment the Serial counter */
  content: counter(Serial14); /* Display the counter */
}
#auto-index15 td:first-child:before
{
  counter-increment: Serial15;      /* Increment the Serial counter */
  content: counter(Serial15); /* Display the counter */
}
#auto-index16 td:first-child:before
{
  counter-increment: Serial16;      /* Increment the Serial counter */
  content: counter(Serial16); /* Display the counter */
}
#auto-index17 td:first-child:before
{
  counter-increment: Serial17;      /* Increment the Serial counter */
  content: counter(Serial17); /* Display the counter */
}
#auto-index18 td:first-child:before
{
  counter-increment: Serial18;      /* Increment the Serial counter */
  content: counter(Serial18); /* Display the counter */
}
#auto-index19 td:first-child:before
{
  counter-increment: Serial19;      /* Increment the Serial counter */
  content: counter(Serial19); /* Display the counter */
}
#auto-index20 td:first-child:before
{
  counter-increment: Serial20;      /* Increment the Serial counter */
  content: counter(Serial20); /* Display the counter */
}
#auto-index21 td:first-child:before
{
  counter-increment: Serial21;      /* Increment the Serial counter */
  content: counter(Serial21); /* Display the counter */
}
#auto-index22 td:first-child:before
{
  counter-increment: Serial22;      /* Increment the Serial counter */
  content: counter(Serial22); /* Display the counter */
}
#auto-index23 td:first-child:before
{
  counter-increment: Serial23;      /* Increment the Serial counter */
  content: counter(Serial23); /* Display the counter */
}
#auto-index24 td:first-child:before
{
  counter-increment: Serial24;      /* Increment the Serial counter */
  content: counter(Serial24); /* Display the counter */
}
#auto-index25 td:first-child:before
{
  counter-increment: Serial25;      /* Increment the Serial counter */
  content: counter(Serial25); /* Display the counter */
}
#auto-index26 td:first-child:before
{
  counter-increment: Serial26;      /* Increment the Serial counter */
  content: counter(Serial26); /* Display the counter */
}
#auto-index27 td:first-child:before
{
  counter-increment: Serial27;      /* Increment the Serial counter */
  content: counter(Serial27); /* Display the counter */
}
#auto-index28 td:first-child:before
{
  counter-increment: Serial28;      /* Increment the Serial counter */
  content: counter(Serial28); /* Display the counter */
}
#auto-index29 td:first-child:before
{
  counter-increment: Serial29;      /* Increment the Serial counter */
  content: counter(Serial29); /* Display the counter */
}
#auto-index30 td:first-child:before
{
  counter-increment: Serial30;      /* Increment the Serial counter */
  content: counter(Serial30); /* Display the counter */
}